In [1]:
import pandas as pd

In [2]:
data = {
    "StudyHours": [2, 5, 1, 7, 3, 8, 4, 6],
    "Attendance": [60, 90, 50, 95, 70, 98, 80, 85],
    "PreviousGPA": [2.1, 3.5, 1.9, 3.8, 2.8, 3.9, 3.0, 3.2],
    "QuizzesTaken": [3, 6, 2, 7, 4, 8, 5, 6],
    "Result": ["Fail", "Pass", "Fail", "Pass", "Fail", "Pass", "Pass", "Pass"]
}

df = pd.DataFrame(data)

In [3]:
df.head()

   StudyHours  Attendance  PreviousGPA  QuizzesTaken Result
0           2          60          2.1             3   Fail
1           5          90          3.5             6   Pass
2           1          50          1.9             2   Fail
3           7          95          3.8             7   Pass
4           3          70          2.8             4   Fail

In [4]:
df.shape

(8, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StudyHours    8 non-null      int64
 1   Attendance    8 non-null      int64
 2   PreviousGPA   8 non-null      float64
 3   QuizzesTaken  8 non-null      int64
 4   Result        8 non-null      object
dtypes: float64(1), int64(3), object(1)
memory usage: 452.0+ bytes

In [6]:
df.describe()

       StudyHours  Attendance  PreviousGPA  QuizzesTaken
count     8.00000    8.000000     8.000000       8.00000
mean      4.50000   78.500000     3.025000       5.12500
std       2.44949   17.138095     0.736304       2.03101
min       1.00000   50.000000     1.900000       2.00000
25%       2.75000   67.500000     2.625000       3.75000
50%       4.50000   82.500000     3.100000       5.50000
75%       6.25000   91.250000     3.575000       6.25000
max       8.00000   98.000000     3.900000       8.00000